<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="{{ @page.author }}" />

   <!--- Blueprint CSS Framework -->
   <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print" />

   <!-- CodeRay syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/coderay.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/site.css" type="text/css" media="screen, projection" />

   <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
</head>
<body>

<div class="container">

   <div class="column span-20 prepend-2 append-2 first last" id="header">
     <img src="images/logo.png" width="49" height="50" alt="NbGit Logo"/>
     <p class="title">nbgit.org | NetBeans Git Module</p>
     <hr>
   </div>

   <div class="column span-15 prepend-2 first">
      {{ content }}
   </div>

   <div class="column span-5 append-2 last">
      <h4>Information</h4>

      <a href="http://nbgit.googlecode.com/"><strong>Project Site</strong></a>

      <ul>
        <li><a href="http://code.google.com/p/nbgit/downloads/list">Downloads</a></li>
        <li><a href="http://code.google.com/p/nbgit/w/list">Wiki</a></li>
        <li><a href="http://code.google.com/p/nbgit/wiki/Issues?tm=3">Issues</a></li>
        <li><a href="http://code.google.com/p/nbgit/wiki/Source?tm=4">Source</a></li>
        <li><a href="http://groups.google.com/group/nbgit">Discussion</a></li>
      </ul>

      <a href="http://code.google.com/docreader/#p=nbgit">Documentation</a>

      <p class="quiet">Dual licensed under the CDDL and GPL v2 (with Classpath Exception).</p>

   </div>

   <div class="column span-20 prepend-2 append-2 first last" id="footer">
     <hr />

   </div>

</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-5459187-2");
pageTracker._trackPageview();
</script>
</body>
</html>
